<?xml version='1.0' encoding='utf-8'?>
<widget id="website.nityalila" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Nitya Lila</name>
    <description>
        Nitya Lila Reminder application, which assists you in remembering present nitya lila of Lord Gauranga throughout the day.
    </description>
    <author email="nimaai@runbox.com" href="github.com/nimaai">
        Matúš Kmiť
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
